<div id="culo" class="container-fluid">
    <mat-card mat-elevation-z20>
        <mat-card-title>
            About this application
        </mat-card-title>

        <mat-card-subtitle>
            Framework: Angular<br>
            Programming Language: Typescript<br>
            Resources: Material icons,Bootstrap and CSS
        </mat-card-subtitle>
        <mat-card-content>
            <p>
                This app was built using the angular framework, where we can easily navigate between pages thanks to the
                Routing module.
                also separating components like the toolbar showed by a router outlet
            </p>
        </mat-card-content>
    </mat-card>
</div>