<mat-toolbar class="  mat-elevation-z20 fixed-top">
    <button style="cursor:pointer;" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>work</mat-icon>
    </button>
    <span>Portfolio</span>
    <span class="example-spacer"></span>
    <button matTooltip="Email me" matTooltipClass="example-tooltip-red" style="margin-top: 0.5rem;" mat-icon-button
        class="example-icon" aria-label="Example icon-button with share icon">
        <a style="margin-top: 0.3em;color: black;" href="mailto:jmisael56@yahoo.com">
            <mat-icon>alternate_email</mat-icon>
        </a> </button>
    <button matTooltip="More information" matTooltipClass="example-tooltip-red" style="margin-bottom: 0.2rem;"
        mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon style="cursor:pointer;">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>

            <mat-icon>code</mat-icon>
            <span [routerLink]="['/projects']">Projects</span>

        </button>


    </mat-menu>

</mat-toolbar>