<div class="allProjects">
    <mat-toolbar class="mat-elevation-z20 fixed-top">
        <button matTooltip="Back to home page" matTooltipClass="example-tooltip-red" style="margin-top: 0.5rem;" style="cursor:pointer;  border: none;
    background-color:transparent;
    margin-top: 0.5em;" [routerLink]="['/']" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <span>Projects</span>
        <span class="example-spacer"></span>
        <button matTooltip="Email me" matTooltipClass="example-tooltip-red" style="  border: none;
    background-color:transparent;
    margin-top: 0.5em;margin-top: 0.5rem;" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
            <a style="margin-top: 0.3em;color: black;" href="mailto:jmisael56@yahoo.com">
                <mat-icon>alternate_email</mat-icon>
            </a> </button>


    </mat-toolbar>
    <br>
    <div class="row projects">
        <div class="col-sm-6 mat-elevation-z20">
            <mat-card style="background-color: rgb(236, 236, 250);" class="mat-elevation-z20">

                <mat-card-header>
                    <div class="subtitle">

                        <mat-card-title>
                            <h1>Pets</h1>
                        </mat-card-title>
                        <mat-card-subtitle>
                            Framework: Angular CLI version 7.3.7.<br>
                            Programming Language: Typescript<br>
                            Resources: Material icons,Bootstrap and CSS<br>
                            Hosting : Firebase<br>
                            Version control system: <a href="https://github.com/misaelito76/SOCIAL_FRONTEND">Github</a>
                        </mat-card-subtitle>
                    </div>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <img mat-card-image src="assets/pet1.png" alt="Photo of a Misael">

                </mat-card-content>
                <br>
                <mat-card-title>
                    Description :
                </mat-card-title>
                <mat-card-subtitle>
                    <h2> It's a social network where pet's owners interact each other
                        post videos, pictures and in a late mobile version installed a map where updates by dropping a
                        pin of a lost pet
                        can be found
                    </h2>

                </mat-card-subtitle>
                <mat-card-footer>
                    <div style="text-align: center;">
                        <button matTooltip="link to pets website" style="margin-top: 0.5rem;" type="submit"
                            onclick="window.location.href='https://pets-book-be902.web.app/home';" style=" background-color: rgb(35, 114, 216); 
                            color: rgb(2, 2, 2); 
                            border-radius: 1rem;margin-bottom: 2rem;
                            ;cursor:pointer;">Pets-web</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class=" mat-elevation-z20 col-sm-6">
            <mat-card style="background-color: rgb(236, 236, 250);" class="mat-elevation-z20">

                <mat-card-header>
                    <div class="subtitle">

                        <mat-card-title>
                            <h1>Netto</h1>
                        </mat-card-title>

                        <mat-card-subtitle>
                            Framework: Angular CLI version 7.3.7.<br>
                            Programming Language: Typescript<br>
                            Resources: Material icons,Bootstrap and CSS<br>
                            Hosting : Firebase<br>
                            Version control system: N/A
                        </mat-card-subtitle>
                    </div>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <img mat-card-image src="assets/netto1.png" alt="Photo of a Misael">

                </mat-card-content>
                <br>
                <mat-card-title>
                    Description :
                </mat-card-title>
                <mat-card-subtitle>
                    <h2> It's a cleaning business where house owners request in advance the company services
                        there is a panel where the admin can make CRUD operations for updating tasks

                    </h2>

                </mat-card-subtitle>
                <mat-card-footer>
                    <div style="text-align: center;">
                        <button matTooltip="link to netto website" style="margin-top: 0.5rem;" type="submit"
                            onclick="window.location.href='https://netto-a5a4f.web.app/';" style="background-color: rgb(35, 114, 216); color: rgb(2, 2, 2); border-radius: 1rem;margin-bottom: 2rem;
    
;cursor:pointer;">Netto-web</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>